<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header" th:fragment="header">
  <div>
    <section class="preloader">
      <div class="spinner">
        <span class="sk-inner-circle"></span>
      </div>
    </section>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" th:href="@{/user-login}">
          <strong><span>Little</span> Book</strong>
        </a>

        <div class="d-lg-none">
          <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

          <a href="product-detail.html" class="bi-bag custom-icon"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link " href="/user-login">Trang chủ</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{user-login/about}">Tiểu sử</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/products}">Sản phẩm</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/user-login/faq}">Hỏi đáp</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/user-login/contact}">Liên hệ</a>
            </li>
          </ul>
          <div>

            <div class="d-none d-lg-block">
              <div class="dropdown" >
                <button style="background-color: white" class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                  <a class="bi-person custom-icon me-3"></a>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="/profile/demo@minimals.cc">Hồ sơ của
                    tôi</a></li>
                  <li><a class="dropdown-item" th:href="@{/cart}">Giỏ hàng</a></li>
                  <li><a class="dropdown-item" href="/order/demo@minimals.cc">Đơn hàng của
                    tôi</a></li>
                  <li><a class="dropdown-item" th:href="@{/}">Đăng xuất</a></li>
                </ul>
                <a th:href="@{/cart}" class="bi-bag custom-icon"></a>
              </div>
              <!--                            <a th:href="@{/login}" class="bi-person custom-icon me-3"></a>-->

            </div>
          </div>

        </div>
      </div>
    </nav>
  </div>
</header>
</body>
</html>